@page "/TaskList"
@using WebClients.Components
@using WebModels.Enums
@inject IToastService toastService

<h3>TaskList</h3>
@if (Tasks == null || Assignees == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="row">
        <div class="col mt-2">
            <a href="/TaskCreate" class="btn btn-success mt-4">Create</a>
        </div>
        <EditForm Model="@TaskListSearch" OnSubmit="@SearchForm">
            <div class="row">
                <div class="col">
                    <label>Name</label>
                    <InputText class="form-control" @bind-Value="TaskListSearch.Name"></InputText>
                </div>
                <div class="col">
                    <label>Assignee</label>
                    <InputSelect class="form-control" @bind-Value="TaskListSearch.AssigneeId">
                        <option value="">--select--</option>
                        @foreach (var assignee in Assignees)
                            {
                            <option value="@assignee.Id">@assignee.FullName</option>
                            }
                    </InputSelect>
                </div>
                <div class="col">
                    <label>Priority</label>
                    <InputSelect class="form-control" @bind-Value="TaskListSearch.Priority">
                        <option value="">--select--</option>
                        @foreach (var priorityItem in Enum.GetNames(typeof(Priority)))
                            {
                            <option value="@priorityItem">@priorityItem</option>
                            }
                    </InputSelect>
                </div>
                <div class="col mt-2">
                    <button class="btn btn-primary mt-4" type="submit">Search</button>
                </div>
            </div>
        </EditForm>
    </div>
    <div class="row mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Assigness</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var taskitem in Tasks)
                {
                    <tr>

                        <td>@taskitem.Name</td>
                        <td>@taskitem.Priority</td>
                        <td>@taskitem.AssigneeName</td>
                        <td>@taskitem.CreateDate.ToString("dd-MM-yyyy hh:mm")</td>
                        <td>@taskitem.Status</td>
                        <td><a href="/taskDetails/@taskitem.Id">Detail</a></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
}
