@page "/TaskList"
@using WebClients.Components
@using WebModels.Enums
@inject IToastService toastService
@inject NavigationManager NavigationManager
@inject IJSRuntime IJSRuntime
<h2 class="h1-responsive font-weight-bold text-center my-4">Task List</h2>
@if (Tasks == null || Assignees == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="row">
        <div class="col mt-2">
            <a href="/TaskCreate" class="btn btn-success mt-4">Create</a>
        </div>
        <EditForm Model="@TaskListSearch" OnSubmit="@SearchForm">
            <div class="row">
                <div class="col">
                    <label>Name</label>
                    <InputText class="form-control" @bind-Value="TaskListSearch.Name"></InputText>
                </div>
                <div class="col">
                    <label>Assignee</label>
                    <InputSelect class="form-control" @bind-Value="TaskListSearch.AssigneeId">
                        <option value="">--select--</option>
                        @foreach (var assignee in Assignees)
                            {
                            <option value="@assignee.Id">@assignee.FullName</option>
                            }
                    </InputSelect>
                </div>
                <div class="col">
                    <label>Priority</label>
                    <InputSelect class="form-control" @bind-Value="TaskListSearch.Priority">
                        <option value="">--select--</option>
                        @foreach (var priorityItem in Enum.GetNames(typeof(Priority)))
                            {
                            <option value="@priorityItem">@priorityItem</option>
                            }
                    </InputSelect>
                </div>
                <div class="col mt-2">
                    <button class="btn btn-info mt-4" type="submit">Search</button>
                    @*<button class="btn btn-info mt-4" @onclick="@(() => toastService.ShowInfo("Search submit"))" type="submit" >Search</button>*@
                </div>
            </div>
        </EditForm>
    </div>
    <div class="row mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Assigness</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Detail</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var taskitem in Tasks)
                {
                <tr>

                    <td>@taskitem.Name</td>
                    <td>
                        @if (taskitem.Priority == Priority.High)
                        {
                            <i class="btn btn-danger" style="font-size: small; font-family: Arial; font-style: normal">High</i>
                        }
                        else
                          if (taskitem.Priority == Priority.Medium)
                        {
                            <i class="btn btn-warning" style="font-size: small; font-family: Arial; font-style: normal">Medium</i>
                        }
                        else
                          if (taskitem.Priority == Priority.Low)
                        {
                            <i class="btn btn-secondary" style="font-size: small; font-family: Arial; font-style: normal">Low</i>
                        }
                    </td>
                    <td>@taskitem.AssigneeName</td>
                    <td>@taskitem.CreateDate.ToString("dd-MM-yyyy hh:mm")</td>
                    <td>@taskitem.Status</td>
                    <td><a href="/taskDetails/@taskitem.Id" class="btn btn-primary"><i class="oi oi-file"></i></a></td>
                    <td><a href="/TaskUpdate/@taskitem.Id" class="btn btn-warning"><i class="oi oi-pencil"></i></a></td>
                    <td><button class="btn btn-danger" @onclick="()=> OnDeleteTask(taskitem.Id)"><i class="oi oi-trash"></i></button></td>
                </tr>

                }
            </tbody>
        </table>
    </div>
    <Confirmation ConfirmationMessage="Are you sure to delete?"
                  ConfirmationTitle="Delete Task"
                  @ref="DeleteConfirmation"
                  ConfirmationChanged="OnConfirmDeleteTask">

    </Confirmation>
}
