@page "/TaskUpdate/{taskId}"
@using WebModels.TaskRequest;
@using WebModels.Enums;
@using WebClients.services.Tasks;
@using WebClients.Components;
@inject ITaskApiClient TaskApiClient
@inject NavigationManager NavigationManager
@inject IToastService ToastService

 <h2 class="h1-responsive font-weight-bold text-center my-4">Task Update</h2>
@if (Task == null)
{
    <LoadingIndicator></LoadingIndicator>
}
<EditForm Model="Task" OnSubmit="@SubmitTask">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Name">Name</label>
        <InputText type="text" class="form-control" placeholder="Enter Name" @bind-Value="@Task.Name"></InputText>
        <small id="Name" class="form-text text-muted">this is your name</small>
    </div>
    <div class="form-group">
        <label for="Priority">Priority</label>
        <InputSelect class="form-control" @bind-Value="Task.Priority">

            @*  <option value="" selected>--Select--</option>*@
            @foreach (var item in Enum.GetNames(typeof(Priority)))
            {
                <option value="@item">@item</option>
            }
        </InputSelect>
        <small id="Priority" class="form-text text-muted">Choose priority</small>
    </div>
    <div class="form-group">
        <label for="Status">Status</label>
        <InputSelect class="form-control" @bind-Value="Task.Status">
            @* <option value="" selected>--Select--</option>*@
            @foreach (var item in Enum.GetNames(typeof(Status)))
            {
                <option value="@item">@item</option>
            }
        </InputSelect>
        <small id="Status" class="form-text text-muted">Choose Status</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
@code {
    [Parameter]
    public string taskId { get; set; }

    TaskUpdateRequest Task = new TaskUpdateRequest();

    protected async override Task OnInitializedAsync()
    {
        var taskDTO = await TaskApiClient.GetTaskDetail(taskId);
        Task.Name = taskDTO.Name;
        Task.Status = taskDTO.Status;
        Task.Priority = taskDTO.Priority;
    }


    private async Task SubmitTask(EditContext context)
    {
        var result = await TaskApiClient.UpdateTask(Guid.Parse(taskId), Task);
        if (result)
        {
            NavigationManager.NavigateTo("/TaskList");
            ToastService.ShowSuccess("Update " + Task.Name + " success");
        }
    }
}
